
<div class="ui container" style="margin-top: 10px; padding-left: 10px; padding-right: 10px; background-color: rgba(255, 255, 255, 0.89); height: 950px;" >
  <div class="ui secondary pointing menu">
      <a routerLink = "/" class="item">
        <img src="https://wittywordplay.files.wordpress.com/2015/01/trystero.gif"
        style="width: 80px;">
        <span style="font-weight: bold;"> TristeroMail</span>
       </a>

      <div class="right menu">
      <ng-container *ngIf = "signedin$ | async">
        <a class="ui item" routerLink = "/inbox" routerLinkActive = "active">Inbox</a>
        <a class="ui item" routerLink = "/signout" routerLinkActive = "active">Sign Out</a>
      </ng-container>
      <ng-container *ngIf = "!(signedin$ | async)">

        <a class="ui item"
           routerLink = "/"
           [routerLinkActiveOptions] = "{exact: true}"
           routerLinkActive = "active">Sign In
        </a>
        <a class="ui item"
           routerLink = "/signup"
           routerLinkActive = "active">Sign Up
        </a>

      </ng-container>
      </div>

  </div>

  <router-outlet></router-outlet>
</div>

